<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vocabulary Trainer</title>
    <script src="/static/learn.js" async></script>
    <link rel="stylesheet" href="/static/learn.css">
</head>
<body>
    <form class="words">
        <span class="word1">Word</span>
        <input class="word2" placeholder="Übersetzung" on>
        <input class="submit" type="submit" value="Submit">

        <span class="verdict">&nbsp;</span>
        <span class="correction">&nbsp;</span>
    </form>

</body>
</html>