<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vocabulary Trainer - Stats</title>
    <script src="/static/stats.js" async></script>
    <link rel="stylesheet" href="/static/stats.css">
</head>
<body>
    <unit-stats>
        <stats-title>Score</stats-title>
        <stats-title>Correct</stats-title>
        <stats-title>Incorrect</stats-title>
        <stats-title>Word</stats-title>
        <stats-title>Translation</stats-title>
    </unit-stats>
</body>
</html>